<?xml version="1.0"?>
<module>
    <moduleName>QoDesk.Preferences</moduleName>
    <moduleType>system</moduleType>
    <moduleId>qo-preferences</moduleId>
    <version>1.0</version>
    <author>Todd Murdock</author>
    <description>Allows users to set, and save their desktop preferences to the database.</description>
    <files>
        <css>
            <file>preferences.css</file>
        </css>
        <js>
            <file>Preferences.js</file>
        </js>
        <php>
        	<file>Preferences.php</file>
        </php>
    </files>
</module>