navPanel {
	background-color:#DFE8F6;
}

html, body {
	background-color:#DFE8F6;
}

iframe.flashDoc {
	width:100%;
	height:100%;
	overflow:hidden;
}

.noSelectionNote {
	position:relative !important;
	text-align:center;
	line-height:50px;
	font-style:italic;
}
