navPanel {
	background-color:#DFE8F6;
}

html, body {
	background-color:#DFE8F6;
}

.spacetreeNode {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 6 6;
	width: 100%;
	height: 100%;
}

iframe.flashDoc {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cwb-treePanel {
	height: 100%;
}
