#cwb-package-id {
	background-color:white;
	position:relative;
	text-align:center;
	overflow:auto;
	font-size:9px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#cwb-package-id a, #cwb-package-id a:link, #cwb-package-id a:visited {
	color:#343439;
}

#cwb-package-id .node {
	background-color:transparent;
	font-weight:bold;
	overflow:hidden;
	text-decoration:none;
	position:absolute;
	text-align:center;
	padding:4px 1px 1px 1px;
	display:block;
}

#cwb-package-id .node:hover {
	color:#393434;
}

#cwb-package-id .outer {
	display:table;
	width:100%;
	height:100%;
}

#cwb-package-id .inner {
	display:table-cell;
	vertical-align:middle;
}

#cwb-package-id img {
	vertical-align:middle;
	margin:2px;
	margin-right:5px;
}	
	
#cwb-package-id .hidden {
	display:none;
}
