#cwb-weight-id {
	text-align:center;
	overflow:visible;
	font-size:10px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	position:relative;
	width:800px;
	height:400px;
	margin:auto;
	background-color:white;
}

#cwb-weight-id div {
	position:absolute;
	overflow:hidden;
}

#cwb-weight-id .content {
	background-color:#efefef;
	border:1px solid #111;
}

#cwb-weight-id .head {
	height:12px;
	color:black;
	font-weight:bold;
	background-color:#efefef;
}

#cwb-weight-id .head.in-path {
	background-color:#DFE8F6;
}

#cwb-weight-id .body {
	background-color:black;
}

#cwb-weight-id .leaf {
	color:black;
	background-color:#111;
	display:table-cell;
	vertical-align:middle;
}

#cwb-weight-id .over-leaf {
	border:1px solid #DFE8F6;
}

#cwb-weight-id .over-content {
	background-color: #DFE8F6;
}

#cwb-weight-id .over-head { /* ...boy i'm funny */
	background-color:#DFE8F6;
	color:black;
}

/*TOOLTIPS*/
.tool-tip {
	color: #111;
	width: 139px;
	z-index: 13000;
	background-color: black;
	border: 1px solid black;
}

.tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #111;
	padding: 8px 8px 4px;
	background-color: #efefef;
}

.tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background-color: #efefef;
}