<?xml version="1.0"?>
<module>
    <moduleName>QoDesk.BogusModule</moduleName>
    <moduleType>demo</moduleType>
    <moduleId>demo-bogus</moduleId>
    <version>1.0</version>
    <author>Jack Slocum</author>
    <description>Demo of bogus window.</description>
    <files>
        <css>
            <file>bogus-win.css</file>
        </css>
        <js>
            <file>bogus-win.js</file>
        </js>
        <php>
        	<file></file>
        </php>
    </files>
</module>