

.FigureChiGoal {
	background-image: url("../img/ChiGoal.png") !important;
}

.FigureChiRequirement {
	background-image: url("../img/ChiRequirement.png") !important;
}

.FigureChiIssue {
	background-image: url("../img/ChiIssue.png") !important;
}

.FigureChiFeature {
	background-image: url("../img/ChiFeature.png") !important;
}

.FigureChiBusinessProcess {
	background-image: url("../img/ChiBusinessProcess.png") !important;
}

.FigureChiBusinessUseCase {
	background-image: url("../img/ChiBusinessUseCase.png") !important;
}

.FigureChiBusinessUseCaseCore {
	background-image: url("../img/ChiBusinessUseCaseCore.png") !important;
}

.FigureChiBusinessPartnerActive {
	background-image: url("../img/ChiBusinessPartnerActive.png") !important;
}

.FigureChiBusinessPartnerPassive {
	background-image: url("../img/ChiBusinessPartnerPassive.png") !important;
}

.FigureChiWorkerExternal {
	background-image: url("../img/ChiWorkerExternal.png") !important;
}

.FigureChiWorkerInternal {
	background-image: url("../img/ChiWorkerInternal.png") !important;
}
