<?xml version="1.0"?>
<module>
    <moduleName>QoDesk.BogusMenu</moduleName>
    <moduleType>menu</moduleType>
    <moduleId>demo-menu</moduleId>
    <version>1.0</version>
    <author>Todd Murdock</author>
    <description>Demo of bogus menu.</description>
    <files>
        <css>
            <file></file>
        </css>
        <js>
            <file>bogus-menu.js</file>
        </js>
        <php>
        	<file></file>
        </php>
    </files>
</module>