
body {
	background-image: none !important;
}

/*greyed out if uneditable*/
body.readOnly {
	background-color: rgb(242,246,251);
}
body.editable {
	background-color: white;
}

/*autocomplete Domain Objects*/
.autocomplete-DomObjects {
	font-weight: bold;
}

/*autocomplete Actors*/
.autocomplete-ChiWorkerExternal {
	text-decoration: underline;
}

/*autocomplete Use Cases*/
.autocomplete-ChiBusinessUseCase {
	font-style: italic;
}
.autocomplete-ChiBusinessUseCaseCore {
	font-style: italic;
}