<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openarchitectureware.adapter.emf.check.checks">
      <metaModel
            nsURI="http://cwm.nikostotz.de/chronos.profile.uml">
         <checkFile
               path="cartridge/Grails/domain.chk">
         </checkFile>
      </metaModel>
   </extension>

</plugin>
